<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <h1><%= list.title %></h1>

     
      <ul class="item-group">
        <% list.items.forEach((item) => { %>
        <li class="item-group-item">
          <form action="/lists/<%= list.id %>/items/<%= item.id %>/update" method="post">
            <input
              type="checkbox"
              <% if(item.purchased){ %>checked<% } %>
              class="form-check-input"
              id="item_checkbox_<%= item.id %>"
              name="purchased"
              onChange="this.form.submit()"
            />
            <% if(locals.itemId == item.id) { %>  
              <input
                type="text"
                value="<%= item.title %>"
                name="title"
              />

              <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
            <% } else { %> 
              <a > <%= item.title %> </a>
                
            <% } %>
          </form>
          <form action="/lists/<%= list.id %>/items/<%= item.id %>/edit" method="get">
            <button
              type="submit"
              class="btn btn-primary btn-sm <%= locals.itemId == item.id ? 'hidden' : '' %>"
              <%= locals.isEditMode ? 'disabled' : '' %>
            >
              Edit
            </button>
          </form>
          <form
            style="display:initial"
            action="/lists/<%= list.id %>/items/<%= item.id %>/destroy" 
            method="post"
          >
            <button type="submit" class="btn btn btn-sm btn-outline-danger">
              Delete
            </button>
          </form>
        </li>
                name="title"
              />

              <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
            <% } else { %> 
              <a > <%= item.title %> </a>
                
            <% } %>
          </form>
          <form action="/lists/<%= list.id %>/items/<%= item.id %>/edit" method="get">
            <button
              type="submit"
              class="btn btn-primary btn-sm <%= locals.itemId == item.id ? 'hidden' : '' %>"
              <%= locals.isEditMode ? 'disabled' : '' %>
            >
              Edit
            </button>
          </form>
          <form
            style="display:initial"
            action="/lists/<%= list.id %>/items/<%= item.id %>/destroy" 
            method="post"
          >
            <button type="submit" class="btn btn btn-sm btn-outline-danger">
              Delete
            </button>
          </form>
        </li>
                name="title"
              />

              <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
            <% } else { %> 
              <a > <%= item.title %> </a>
                
            <% } %>
          </form>
          <form action="/lists/<%= list.id %>/items/<%= item.id %>/edit" method="get">
            <button
              type="submit"
              class="btn btn-primary btn-sm <%= locals.itemId == item.id ? 'hidden' : '' %>"
              <%= locals.isEditMode ? 'disabled' : '' %>
            >
              Edit
            </button>
          </form>
          <form
            style="display:initial"
            action="/lists/<%= list.id %>/items/<%= item.id %>/destroy" 
            method="post"
          >
            <button type="submit" class="btn btn btn-sm btn-outline-danger">
              Delete
            </button>
          </form>
        </li>
                name="title"
              />

              <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
            <% } else { %> 
              <a > <%= item.title %> </a>
                
            <% } %>
          </form>
          <form action="/lists/<%= list.id %>/items/<%= item.id %>/edit" method="get">
            <button
              type="submit"
              class="btn btn-primary btn-sm <%= locals.itemId == item.id ? 'hidden' : '' %>"
              <%= locals.isEditMode ? 'disabled' : '' %>
            >
              Edit
            </button>
          </form>
          <form
            style="display:initial"
            action="/lists/<%= list.id %>/items/<%= item.id %>/destroy" 
            method="post"
          >
            <button type="submit" class="btn btn btn-sm btn-outline-danger">
              Delete
            </button>
          </form>
        </li>
                name="title"
              />

              <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
            <% } else { %> 
              <a > <%= item.title %> </a>
                
            <% } %>
          </form>
          <form action="/lists/<%= list.id %>/items/<%= item.id %>/edit" method="get">
            <button
              type="submit"
              class="btn btn-primary btn-sm <%= locals.itemId == item.id ? 'hidden' : '' %>"
              <%= locals.isEditMode ? 'disabled' : '' %>
            >
              Edit
            </button>
          </form>
          <form
            style="display:initial"
            action="/lists/<%= list.id %>/items/<%= item.id %>/destroy" 
            method="post"
          >
            <button type="submit" class="btn btn btn-sm btn-outline-danger">
              Delete
            </button>
          </form>
        </li>
        <% }) %>
      </ul>


        <form action="/lists/<%= list.id %>/items" method="post">
          <div>
           
            <input
              type="text"
              name="title"
              aria-describedby="itemHelp"
              placeholder="Add Item"
            />
            <button type="submit" class="btn btn-primary">Add Item</button>
          </div>
        </form>
      </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
