<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <h1><%= list.title %></h1>

     
      <ul class="item-group">
        <% list.items.forEach((item) => { %>
        <li class="item-group-item">
          <form action="/lists/<%= list.id %>/items/<%= item.id %>" method="post">
            <input
              type="checkbox"
              <% if(item.purchased){ %>checked<% } %>
              class="form-check-input"
              id="item_checkbox_<%= item.id %>"
              name="purchased"
              onChange="this.form.submit()"
            />
          </form>
          <a > <%= item.title %> </a>

          <button type="button" class="btn btn-primary btn-sm">Edit</button>
          <form
    style="display:initial"
    action="/lists/<%= list.id %>/items/<%= item.id %>/destroy" method="post"
   
  >
    <button type="submit" class="btn btn btn-sm btn-outline-danger">
      Delete
    </button>

    
          
        
         
        </li>

        <% }) %>
      </ul>


        <form action="/lists/<%= list.id %>/items" method="post">
          <div>
           
            <input
              type="text"
              name="title"
              aria-describedby="itemHelp"
              placeholder="Add Item"
            />
            <button type="submit" class="btn btn-primary">Add Item</button>
          </div>
        </form>
      </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
